* {
 box-sizing: border-box;
}

body {
    background-color: white;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    background-color: rgb(129, 14, 14);
    
}


h1 {
    flex: 1;    
    font-size: 50px;
    background-color: lightgrey;
    color: black;
}

h2  {
 padding:0%;
 margin: 0%;
 font-size: 35px;
}

nav {

  display: flex;
flex-wrap: wrap;
}
.bar{
  
    padding: 0 
    flex: 1;        
    font-size: 20px;
    text-decoration: none; 
    color: white;          
    padding: 0px;
    margin: 50px 5px 5px 0px;
    float:right    
}

 .header nav ul li {
    display: inline-flex;
    list-style-type: none;    
 }

 .bar:hover {
  background-color: lightgray;
  color:black;
 }

.hero {
    width: 100%;
    height: 150px; 
    background-image: url("fractal.jpg");   
    margin-bottom: 25px;
    border: 3px solid;   

}
content {
  display:flex
  
}

.card-container {
  display: flex;
  background-color:#fff;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: ;
  align-items: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-radius: 150px;
  padding: 10px;
  margin: 0px 50px 50px 0px;
  height: 300px;
  width: 300px;
  justify-content: space-between;
  align-items:center;  
}

.card:hover {
 box-shadow: 15px 15px 5px #aaaaaa; 
 transform: rotate(15deg);
}

.card header {
  display: flex;
  flex: 0 1;
  flex-wrap: wrap;
  background-color: lightgray;
  border-radius: 150px;
  font-weight: bolder;
  padding: 10px;
  margin: 10px;
}

.one {
flex: 1 0 33%;
background-image: url("screencapture-difurung-github-io-Challenge-1-Refactor-2022-10-09-18_03_01.png");
background-size: 700px;
width: 700px;
background-repeat: no-repeat;
}


.two {
flex: 0;
background-image: url("screencapture-difurung-github-io-Challenge-1-Refactor-2022-10-09-18_03_01.png");
width: 300px;

}
.three {
flex: 0;
background-image: url("screencapture-difurung-github-io-Challenge-1-Refactor-2022-10-09-18_03_01.png");
width: 300px;
}


.card img {
  height: 195px;
  width: 195px;
  object-fit: contain;
  border-radius: 150px;
}


 .footer { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 25px 0px 0 0 ;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    background-color: rgb(129, 14, 14);
    color: white;   
    
 }

 .footer h2 {
  margin: 2%
  
 }

 .links {   
   display: flex; 
   
   color: white;
   font-size: 25px;
   padding: 20px;
   margin: 10px;
   list-style: none;
   
 }

.contacts {   
  flex-direction: row; 
   flex-wrap: wrap; 
    text-decoration: none;
   color: white;
   font-size: 25px;
   padding: 0px 20px 20px 0px;
 }
    
